{% include 'base.html' %}
{%include 'navigation.html'%}
{% block content  %}
<table id="example" class="table table-centered table-striped table-light">
    <h1 class="text-danger text-center">View Patient</h1>
    <thead>
        <tr>
    <td>id</td>
    <td>Name</td>
    <td>Gender</td>
    <td>Mobile</td>
    <td>Adress</td>
    <td>Delete</td>
        </thead>
    </tr>
    
<tbody>
{% for item in doc %}

<tr> 
     <td>{{ item.id}}</td>
     <td>{{ item.name}}</td> 
      <td>{{ item.gender}}</td>

     <td>{{ item.mobile}}</td>
   
     <td>{{ item.address}}</td>
     <td><a href="{% url 'remove_patient' item.id%}" onclick="return confirm('Are you sure want to delete')" class="btn btn-danger">Delete</a></td>
</tr>
   {% endfor %}
</tbody>
   {% endblock content%}   